@import url('https://api.fontshare.com/v2/css?f[]=kalam@400&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

/* Add these styles to your stylesheet or component */

.router-link-exact-active.active {
    @apply transition-none border-b-2 border-redDamask-500 ;
    transition: none;
}


@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.animate-fadeIn {
    animation: fadeIn 1s ease-out;
}
