@tailwind base;
@tailwind components;
@tailwind utilities;

.router-link-exact-active.active {
  @apply font-bold text-yellow-400 hover:text-custom-purple-700;
  transition: none; /* This disables all transitions for the .active class */
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.animate-fadeIn {
  animation: fadeIn 1s ease-out;
}
